:root {
	--diameter: calc(1.5rem - 3px);
}
* {
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: auto;
	box-sizing: border-box !important;
	font-variant-ligatures: common-ligatures !important;
	font-kerning: normal !important;
	hanging-punctuation: first allow-end last !important;
	line-height: 1.3;
	overflow-clip-box: padding-box !important;
	-webkit-margin-collapse: separate;
	image-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html, body {
	font-family: "Poppins", "Verdana", sans-serif;
	margin: 0;
	background-color: #546E7A;
	color: black;
	transition: background-color 1s ease-in-out;
	overflow: visible;
	width: 100vw;
	position: relative;
/*	will-change: background-color;*/
}
section {
	padding: 0 1rem;
}
#splash-screen {
	background-color: black;
	background-image: linear-gradient(to bottom, transparent 0, transparent 100vh, white 100vh);
	background-size: 100% 100%, auto 100vh;
	background-position: center top, center top;
	background-repeat: no-repeat, no-repeat;
	position: relative;
}
#backdrop {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	height: 100vh;
	background-image: url("hero-small.jpg");
/*	will-change: background-position, filter;*/
	filter: blur(0);
	transition: background-position 0.1s ease-in-out;
	overflow: hidden;
}
#main-panel {
	filter: blur(1rem);
	transition: filter 0.5s ease-out;
/*	will-change: filter;*/
}
#main-screen {
	background-image:
		linear-gradient(to bottom, transparent 0, transparent 100vh, white 100vh);
	background-size: 100% 100%;
	background-position: center top;
	background-repeat: no-repeat;
}
.flex {
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
	flex-direction: column;
	height: 100vh;
}
.container {
	max-width: 960px;
	margin: 0 auto;
}
p {
	margin: 0;
}
p+p {
	padding-top: 1rem;
}
#splash-screen-bottom, #main-screen-bottom {
	padding: 3rem 0;
}
h1 {
	margin: 0 0 3rem 0;
	font-size: 3rem;
	font-weight: normal;
}
h1, h2, h3 {
	font-weight: normal;
}
h2 {
	margin: 3rem 0 1rem 0;
}
h2, h3 {
	font-size: 2rem;
}
h3, h4 {
	margin: 0 0 1rem 0;
}
h4 {
	font-weight: bold;
}
h4.big-gap {
	margin-bottom: 1.5rem;
}
.text {
	margin: -0.15em 0;
	display: block;
}
.button {
	background-color: #E64A19;
	box-shadow: inset 0 0.5rem 0.5rem -0.5rem #FB8C00;
	display: inline-block;
	border: solid #FB8C00;
	border-width: 1px 1px 2px 1px;
	transition: all 0.1s ease-out;
/*	will-change: background-color, box-shadow, border-color;*/
	cursor: pointer;
	border-radius: 0.5rem 0 0 0.5rem;
}
.button:hover {
	background-color: #FA6A11;
	box-shadow: inset 0 0.5rem 0.5rem -0.5rem #FFB74D;
	border-color: #FFB74D;
}
html body .button:active, html body .button.activated {
	background-color: #B71C1C;
	box-shadow: inset 0 0.5rem 0.5rem -0.5rem black;
	border-color: black;
}
.big, h4 {
	font-size: 1.25rem;
}
.scroller {
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: left 0.5s ease-in;
/*	will-change: scroll-position, left;*/
}
#splash-panel {
	z-index: 100;
}
#main-screen-top, #splash-screen-top, .button {
	color: white;
}
#splash-screen-top {
	z-index: 10;
	position: relative;
}
input[type="range"] {
	cursor: col-resize;
}
textarea {
	resize: none;
	width: calc(100% + 3rem);
	display: block;
	margin-bottom: 1rem;
/*	will-change: scroll-position;*/
}
textarea, .switch-notch {
	flex-grow: 1;
	border: solid black;
	border-width: 1px 1px 2px 1px;
}
textarea, .switch-notch-middle {
	box-shadow: inset 0 0.5rem 0.5rem -0.5rem black;
}
.button, textarea, .module-unit, input[type='number'] {
	padding: 1em 1.5em;
}
textarea, .module-unit, input[type='number'] {
	border-radius: 0.5rem;
}
#start-button {
	margin: 1rem 0 3rem 0;
}
textarea, .module-unit {
	margin-left: -1.5rem;
	margin-right: -1.5rem;
}
.module-unit {
	border: solid #CFD8DC;
	border-width: 1px 1px 2px 1px;
	background-color: #ECEFF1;
	box-shadow: inset 0 0.5rem 0.5rem -0.5rem white;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.module-unit+.module-unit {
	margin-bottom: 0;
}
aside {
	width: 25vw;
	padding: 0 5rem;
}
article, footer {
	font-family: "IBM Plex Serif", "Bookerly", "Literata", "Cambria", serif !important;
}
article {
	position: absolute;
	left: -9999px;
	right: -9999px;
	top: 50vh;
	margin-top: -0.625em !important;
	z-index: 50;
	text-shadow: 0 0 1px black, 0 0 1rem black;
/*	will-change: contents, color, opacity, font, letter-spacing, word-spacing;*/
	text-align: center;
	letter-spacing: -0.01em;
	word-spacing: 0.01em;
}
progress {
	width: 100%;
	border: solid black;
	border-width: 1px 1px 2px 1px;
	height: 1rem;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 999px;
	overflow: hidden;
	background-color: #546E7A;
	display: block;
}
nav {
	text-align: center;
	margin-bottom: 1rem;
}
progress::-webkit-progress-bar {
	box-shadow: inset 0 0.5rem 0.5rem -0.5rem black;
	background-color: #546E7A;
}
progress::-webkit-progress-value {
  box-shadow: inset 0 -2px 0 0 #FB8C00, inset 0 0 0 1px #FB8C00, inset 0 0.5rem 0.5rem -0.5rem #FB8C00, 0 0 0.5rem 0 black;
  background-color: #E64A19;
  border-radius: 999px;
}
progress::-moz-progress-bar {
  box-shadow: inset 0 -2px 0 0 #FB8C00, inset 0 0 0 1px #FB8C00, inset 0 0.5rem 0.5rem -0.5rem #FB8C00, 0 0 0.5rem 0 black;
  background-color: #E64A19;
  border-radius: 999px;
}
input {
	width: 100%;
	margin-bottom: 1rem;
	display: inline-block;
}
input[type='number'] {
	width: calc(100% - 2rem);
	padding: 0.5rem 1rem !important;
	margin-left: 2rem;
	margin-top: 0.5rem;
}
small {
	display: block;
	color: #546E7A;
	margin-top: 0.5rem;
}
html body [hidden] {
	display: none !important;
}
#followed-by {
	text-align: left;
	font-size: 50%;
	opacity: 0.75;
	position: absolute;
	left: 0;
	width: 99999px;
	top: 50vh;
	margin-top: -0.625em !important;
	z-index: 40;
}
#following {
	text-align: right;
	font-size: 50%;
	opacity: 0.75;
	position: absolute;
	width: 99999px;
	left: calc(100vw - 99999px);
	top: 50vh;
	margin-top: -0.625em !important;
	z-index: 40;
}
.spacer {
	height: 1rem;
}
hr {
	margin: 1rem -0.5rem;
	height: 1px;
	border-radius: calc(100% / 3);
	background-color: #546E7A;
	border: none;
}
.last {
	margin-bottom: 0 !important;
}
#header {
	padding: 1rem 0;
}
#textbox-wrapper {
	font-size: 6.25rem;
	flex-grow: 1;
	color: white;
}
#scroll-pop {
	position: fixed;
	z-index: 1000;
	right: 1rem;
	bottom: 0.5rem;
	height: 2rem;
	opacity: 0.5;
	animation: bounce 1s ease-in-out infinite;
	transition: opacity 1s ease-in-out;
/*	will-change: bottom, opacity;*/
}
span, label {
	display: inline-block;
	vertical-align: top;
}
input[type="checkbox"]:not(:checked) + label .switch-slide {
	left: calc(-4rem + var(--diameter) + 2px);
}
.switch-notch:active .switch-slide {
	left: calc(-2rem + var(--diameter) / 2 + 1px) !important;
}
.switch-notch {
	overflow: hidden;
	position: relative;
	width: 4rem;
	height: 1.5rem;
	cursor: pointer;
}
.switch-notch-middle {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	bottom: 0;
	right: 0;
}
.switch-slide, small {
	font-size: 0.75rem;
}
.switch-slide {
	color: white;
	width: calc(8rem - var(--diameter) - 2px);
	background: linear-gradient(to right, #00BFA5 0%, #00BFA5 50%, #D50000 50%, #D50000 100%);
	left: 0;
	transition: left 0.1s linear;
/*	will-change: left;*/
	position: relative;
}
.switch-off, .switch-on {
	line-height: var(--diameter) !important;
	width: calc(4rem - var(--diameter) - 2px);
	text-align: center;
	user-select: none !important;
}
.switch-notch, .switch-scrubber, .switch-notch-middle {
	border-radius: 99999px;
}
input[type="checkbox"]:checked + label .switch-scrubber {
	background-color: #80D8FF;
}
footer {
	width: 100%;
	margin-top: 0;
	color: white;
	white-space: nowrap;
	font-size: 1rem;
	opacity: 0;
	word-spacing: 0.25rem;
	font-weight: 300;
	padding-left: calc(100% / 3);
	filter: blur(0.5rem);
/*	will-change: opacity, margin-top, filter, font-size;*/
	transition: all 0.1s ease-in-out;
}
footer * {
	vertical-align: baseline !important;
}
#past-box {
	width: 0;
	position: relative;
}
#past {
	position: absolute;
	top: 0;
	right: 0;
/*	will-change: contents;*/
}
#future {
/*	will-change: contents;*/
}
#now {
	color: #EEFF41;
	font-weight: 500;
	font-size: 125%;
/*	will-change: contents;*/
}
.switch-notch:hover .switch-scrubber {
	background-color: #FFD600 !important;
}
.switch-scrubber {
	box-shadow: 0 0 0 1px black, 0 0 0.5rem 0 black, inset 0 0.5rem 0.5rem -0.5rem white;
	height: var(--diameter);
	background-color: #546E7A;
	width: var(--diameter);
	position: relative;
	z-index: 10;
	transition: background-color 0.1s ease-in-out;
/*	will-change: background-color;*/
}
.left {
	float: left;
	margin: -0.5rem 0.5rem -0.5rem -0.25rem;
}
.right {
	float: right;
	margin: -0.25rem -0.25rem -0.5rem 0.5rem;
}
nav .button {
	padding: 0.5em 1em;
}
.button+.button {
	border-radius: 0;
}
.button+.button:last-child {
	border-radius: 0 0.5rem 0.5rem 0;
}
.button+*:not(.button), *:not(.button)+.button:last-child, .button:only-child {
	border-radius: 0.5rem;
}

@media (min-width: 803px), (min-height: 478px) {
	#backdrop {
		background-image: url("hero-medium.jpg");
	}
}
@media (min-width: 1338px), (min-height: 796px) {
	#backdrop {
		background-image: url("hero-big.jpg");
	}
}
@media (min-width: 2006px), (min-height: 1194px) {
	#backdrop {
		background-image: url("hero-huge.jpg");
	}
}
@keyframes bounce {
	0% {
		bottom: 0.5rem;
	}
	30% {
		bottom: 1rem;
	}
	40% {
		bottom: 0.5rem;
	}
}
